<div ng-cloak="">
    <div class = "topnav">
        <input type="text" placeholder="Search.." name="search" ng-model='searchText'>
        <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
        <input type="button" ng-click="EmployeeCtrl.AddNewEmployee()" value="Add New Employee" />
      </div>
      <br>
      <br>
    <div class = "grid">
    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-lg="4" md-row-height="250px" >
    <md-grid-tile ng-repeat="e in EmployeeCtrl.empData | filter:searchText">
        <md-card style="width:100%;">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Name: {{e.EmployeeName}}</span>
              <span class="md-subhead">EmpID: {{e.EmployeeId}}</span>
              <span class="md-subhead">Project: {{e.Project}}</span>
              <span class="md-subhead">Bill Rate: {{e.BillRate}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="EmployeeCtrl.Edit(e)">Edit</md-button>
            <md-button ng-click="EmployeeCtrl.Delete(e)">Delete</md-button>
          </md-card-actions>
        </md-card>
    </md-grid-tile>
  </md-grid-list>
  </div>
</div>
