.topnav{
  margin-top: 70px;
  position:fixed;
  z-index: 5;
  overflow: hidden;
  margin-right: 18px;
  width: 83%;
}
.topnav input[type="button"] {
  float: right;
  top: "33px";
  color: white;
  background-color:DodgerBlue;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 3px dotted DodgerBlue;
  width: auto !important;
}

.topnav button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background:DodgerBlue;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav button:hover {
  background: #ccc;
}
.grid{
  margin-top: 100px;
  overflow-y: auto;
  height: 500px;
  border: 3px inset gray;
}
