.topnav {
  margin-top: 6%;
  position: fixed;
  z-index: 5;
  overflow: hidden;
  margin-right: 18px;
  width: 85%;
}
.topnav input[type="button"] {
  float: right;
  color: white;
  background-color: DodgerBlue;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  overflow: hidden;
  padding-right: 0.5em;
  border: 3px dotted DodgerBlue;
  width: auto !important;
}

.topnav button {
  padding: 6px 10px;
  margin-top: 8px;
  background: DodgerBlue;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
}

.topnav button:hover {
  background: #ccc;
}
.topnav input[type="button"] :disabled{
  background-color: #FF85A1;
}
.refresh {
  float: right;
  margin-bottom: 2%;
}
.grid {
  margin-top: 10%;
  overflow-y: auto;
  height: 75vh;
  border: 2px inset rgb(245, 243, 243);
  width: 105%;
}
.spinner-border{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
.profile{
  margin-top: 8%;  
}
@media screen and (max-width: 550px) {
  .topnav {
    margin-top: 15% !important;
    display: inline-block !important;
    width: 92%;
  }
  .topnav input[type="text"] {
    width: 50% !important;
  }
  .topnav input[type="button"] {
    width: 30%;
    white-space: normal;
  }
  .grid {
    margin-top: 25%;
    width: 100%;
  }
}

@media screen and (max-height: 600px) {
  .grid {
    margin-top: 25%;
    height: 70vh !important;
  }
  .profile{
    margin-top: 13%;  
  }
}

@media screen and (max-height: 1040px) {
  .grid {
    margin-top: 25%;
    height: 70vh !important;
  }
  .profile{
    margin-top: 13%;  
  }
}

@media screen and (min-width: 250px) and (max-width: 300px) {
  .topnav {
    margin-top: 20% !important;
    display: inline-block !important;
    width: 92%;
  }
  .topnav input[type="text"] {
    width: 45% !important;
  }
  .topnav input[type="button"] {
    width: 30%;
    white-space: normal;
  }
}

@media screen and (max-width: 1060px) {
  .topnav {
    width: 92%;
  }
  .grid {
    margin-top: 25%;
    width: 100%;
  }
}
