.topnav{
  margin-top: 6%;
  position:fixed;
  z-index: 5;
  overflow: hidden;
  margin-right: 18px;
  width: 85%;
}
.topnav input[type="button"] {
  float: right;
  color: white;
  background-color:DodgerBlue;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  overflow: hidden;
  padding-right: .5em;
  border: 3px dotted DodgerBlue;
  width: auto !important;
}

.topnav button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background:DodgerBlue;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav button:hover {
  background: #ccc;
}
.grid{
  margin-top: 100px;
  overflow-y: auto;
  height: 75vh;
  border: 3px inset gray;
}

@media screen and (max-width: 550px) {
  .topnav {
    margin-top: 15% !important;
    display: inline-block !important;
    width:92%;
  }
  .topnav input[type="text"] {
    width: 50% !important;
  }
  .topnav input[type="button"] {
    width : 32%;
    white-space: normal;
  }
}

@media screen and (max-height: 600px) {
  .grid{
    height: 70vh !important;
  }
}

@media screen and (min-width: 250px) and (max-width : 300px) {
  .topnav {
    margin-top: 20% !important;
    display: inline-block !important;
    width:92%;
  }
  .topnav input[type="text"] {
    width: 45% !important;
  }
  .topnav input[type="button"] {
    width : 30%;
    white-space: normal;
  }
}