body {
  padding-top: 15px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #01070c;
  text-decoration: none;
}
.nav{
  position: fixed;
  background-color: black;
  z-index: 9;
  padding-left: 0%;
  width: 85%;
}

.nav-tabs {
  margin-bottom: 0;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color:DodgerBlue;
}
.nav-tabs>li>a {
  color:DodgerBlue;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(65, 65, 66);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 10;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}

.tabbable .nav-tabs {
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap;
}
.tabbable .nav-tabs .nav-link {
 white-space: nowrap;
}